.faq-list-lg {
  transition: width 250ms ease;
}
/* .faq-list-lg .ant-collapse-item .ant-collapse-extra {
  opacity: 0;
  pointer-events: none;
  transform: translateX(6px);
  transition: all 0.15s ease, transform 0.15s ease;
}

.faq-list-lg .ant-collapse-item:hover .ant-collapse-extra {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.faq-list-lg .ant-collapse-item-active .ant-collapse-extra {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
} */
